* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Arial', 'sans-serif';
	background-color: #f0f4f8;
	color: #333;
}

a {
	text-decoration: none;
}

.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	background: linear-gradient(#ecedef, #f5f8fa);

	padding: 0 10px 20px 10px;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	margin: 0 auto;

	max-width: 600px;
	width: 90%;
}

#header {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 30px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	background-color: #72c5fd;
}

#form {
	display: flex;
	align-items: center;
	justify-content: center;
}

.form-input {
	padding: 10px;
	border: none;
	border-bottom: 2px solid gray;

	min-width: 250px;
	opacity: 0.6;
}

.form-input:focus {
	outline: none;
}

.todo-stats {
	display: flex;
	width: 320px;
	justify-content: space-between;
	margin-top: 10px;
	color: rgb(112, 112, 250);
	font-size: 20px;
	font-family: 'Arial';
}

.btn {
	color: white;
	border-radius: 5px;
	border: none;
	cursor: pointer;
}

.btn:hover {
	opacity: 0.8;
}

.btn-add {
	padding: 10px 38px;
	margin-left: 10px;
	background-color: #5393ff;
}

#filters {
	display: flex;
	flex-direction: row;
	margin-top: 15px;
	column-gap: 50px;
}

#todos {
	margin-top: 12px;
}

#todo-item {
	display: flex;
	align-items: center;
	justify-content: space-between;

	width: 340px;
	max-width: 100%;

	border-radius: 5px;
	margin-bottom: 10px;
	padding: 10px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.checkbox-item {
	margin-right: 10px;
}

.btn-edit {
	background-color: #5592fd;
	padding: 10px;
}

.btn-remove {
	background-color: #fd6654;
	padding: 10px;
	margin-left: 10px;
}

.todo-list-input {
	padding: 10px;
	border: none;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.todo-list-input:focus {
	outline: none;
}

.todo-content {
	display: flex;
	align-items: center;
	gap: 8px;
	max-width: 70%;
}

.todo-content label {
	word-break: break-word;
	line-height: 1.5;
	overflow: hidden;
	flex-grow: 1;
}

.round-checkbox {
	appearance: none;
	min-width: 20px;
	height: 20px;
	border: 1px solid #555;
	border-radius: 50%;
	outline: none;
	cursor: pointer;
	transition: background-color 0.2s ease, border-color 0.2s ease;
}

.round-checkbox:checked {
	background-color: #96bcfd;
	border-color: #201c1c;
}
